body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 10px;
}

.display {
    grid-column: span 4;
    background-color: #c9688f;
    color: rgb(11, 49, 33);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    font-size: 2em;
    word-wrap: break-word;
    word-break: break-all;
}

.btn {
    font-size: 1.5em;
    padding: 20px;
    background-color: #a69ada;
    border: 1px solid #9e9292;
    cursor: pointer;
}

.btn:active {
    background-color: #6b8eaf;
}
